<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e06184358803e3a" async="async"></script>
<div style="clear:both;float: left; margin:0;padding:0;width: 100px;">
    <meta id="share_title"  property="og:title" content="Arturo Homepage" />
    <meta id="share_description" property="og:description" content="Image Caption" />
    <meta id="share_image" property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ STATIC_URL }}template/arturo.interpegasus.com/images/Arashiyama-Monkey-Park/1.JPG" />
    <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_pinterest_pinit"  pi:pinit:layout="horizontal" style="clear: both;"></a>
        <a class="addthis_button_facebook_like" fb:like:layout="button" style="clear: both;"></a>
    </div>
</div>