{% load record-tags %}
<div id = "footer-content">
    <h2>{{ 'WEBSITE_NAME'|get_record:request_language}}</h2>
    <p>{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}</p>

    {% for main_category in categories %}
        {% if main_category.name != 'Root' %}
            {% if main_category.parent_id == 1 %}
                {% if  main_category.language_code == request_language %}
                    <div class="footer-category"><a href = "/{{main_category.language_code}}/c/{{main_category.slug}}">{{ main_category.name|upper }}</a></div>
                    {% for page in main_category.page_array %}
                        <div><a href ="/{{main_category.language_code}}/{{page.slug}}">{{ page.title }}</a></div>
                    {% endfor %}
                    {% for sub_category in categories %}
                        {% if sub_category.parent_id == main_category.id %}
                            <div> <a href ="/{{main_category.language_code}}/c/{{sub_category.slug}}">{{ sub_category.name }}</a></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="footer-category">Site map</div>
    <div > <a href = "/sitemap">Site map</a></div>
</div>


<div id = "copyright">
    <div id="languages">
        {% for language in languages %}
        <a href="/{{ language.code }}">{{ language.name }}</a>&nbsp;
        {% endfor %}
    </div>
    <ul>
        <li><a href = "https://appengine.google.com/" class = "google_app_engine_icon"></a></li>
        <li><a href = "https://www.magicangel.org"><b>&copy; {% now "Y" %} {{ 'WEBSITE_NAME'|get_record:request_language}}</b></a></li>
        <li><a href = "/api" class = "">API Documentation</a></li>
        <li><a href = "http://www.interpegasus.com" class = "interpegasus_icon"></a></li>

    </ul>
</div>