{% load record-tags %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ 'WEBSITE_NAME'|get_record:request_language}}</title>
<meta name="description" content="Arturo's Web And Mobile Portfolio"/>
<meta name="author" content="Arturo"/>
<meta name="application-name" content="InterPegasus CMS"/>
{% if app_name == 'interpegasuslove' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/interpegasus/js/app.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/custom_assets/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/interpegasus/custom_assets/js/app.js"></script>
{% else %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/foundation.min.js"></script>
{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick-theme.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick/slick/slick.min.js"></script>
