{% load record-tags %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if wiki_page %}
        <title>{{ wiki_page.title }} - {{ 'WEBSITE_NAME'|get_record:request_language}}</title>
        <meta name="description" content="{{wiki_page.summary|truncate_str:128}}"/>
        <meta name="keywords" content="{{ wiki_page.title }}, {{ wiki_page.title|to_keywords }}, {{ 'WEBSITE_NAME'|get_record:request_language}} "/>
    {% elif page %}
        <title>{{ page.title }} - {{ 'WEBSITE_NAME'|get_record:request_language}}</title>
        <meta name="description" content="{{page.content_no_html|truncate_str:128}}"/>
        <meta name="keywords" content="{{ page.title }}, {{ page.title|to_keywords }}, {{ 'WEBSITE_NAME'|get_record:request_language}} "/>
    {% elif title %}
        <title>{{ title|title }}</title>
        <meta name="description" content="{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}"/>
        <meta name="keywords" content="{{ 'WEBSITE_NAME'|get_record:request_language|to_keywords}}"/>
    {% else%}
        <title>{{ 'WEBSITE_NAME'|get_record:request_language}}</title>
        <meta name="description" content="{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}"/>
        <meta name="keywords" content="{{ 'WEBSITE_NAME'|get_record:request_language|to_keywords}}"/>
    {% endif %}
<meta name="author" content="Arturo - http://www.interpegasus.com/en/ - {{ 'WEBSITE_NAME'|get_record:request_language}}"/>
<meta name="application-name" content="InterPegasus CMS"/>
{% if app_name == 'interpegasuslove' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/interpegasus/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/interpegasus/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/interpegasus/js/app.js"></script>
     <meta name="alexaVerifyID" content="UAKO0RJNzf17oCWJGIWGgsweXX8"/>
{% elif app_name == 'interpegasus-cms' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/magicangel/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/magicangel/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/magicangel/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/magicangel/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/magicangel/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/magicangel/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/magicangel/js/app.js"></script>
     <meta name="alexaVerifyID" content="cwJgMAMV3vhnGZoflZRNmXb7tcU"/>
{% elif app_name == 'happy-planet' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/nrwl/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/nrwl/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/nrwl/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/nrwl/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/nrwl/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/nrwl/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/nrwl/js/app.js"></script>
     <meta name="alexaVerifyID" content="FRcuhB6g7LK5wxJJZV-P5n8hjM"/>
{% elif app_name == 'arturopegasus7' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/arturo/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/arturo/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/arturo/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/arturo/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/arturo/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/arturo/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/arturo/js/app.js"></script>
{% elif app_name == 'bible-love' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/bible/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/bible/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/bible/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/bible/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/bible/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/bible/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/bible/js/app.js"></script>
     <meta name="alexaVerifyID" content="vgL2FtP9SfJFjaASB8s6G8_hQDY"/>
{% elif app_name == 'yiyask7' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/yiyask/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/yiyask/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/yiyask/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/yiyask/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/yiyask/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/yiyask/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/yiyask/js/app.js"></script>    
{% elif app_name == 'arturoportfolio7' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/portfolio/bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/portfolio/bower_components/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}foundation/portfolio/bower_components/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}foundation/portfolio/bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}foundation/portfolio/bower_components/foundation/js/foundation.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/portfolio/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/portfolio/js/app.js"></script>
    <script type="application/javascript">
        var availableTags = [
        {% for page in page_list %}
        { label: "{{page.title | safe }}", value: "{{page.title | slugify }}" },
        {% endfor %}
        ];
    </script>
{% else %}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/normalize.css"/>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/foundation.min.js"></script>
{% endif %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    {% if app_name == 'interpegasuslove' %}
        ga('create', 'UA-62978619-3', 'auto');
    {% elif app_name == 'interpegasus-cms' %}
        ga('create', 'UA-62978619-2', 'auto');
    {% elif app_name == 'happy-planet' %}
        ga('create', 'UA-62978619-4', 'auto');
    {% elif app_name == 'arturopegasus7' %}
        ga('create', 'UA-62978619-5', 'auto');
    {% elif app_name == 'bible-love' %}
        ga('create', 'UA-62978619-1', 'auto');
    {% elif app_name == 'yiyask7' %}
        ga('create', 'UA-62978619-6', 'auto');
    {% elif app_name == 'arturoportfolio7' %}
        ga('create', 'UA-62978619-7', 'auto');
    {% endif %}
    ga('send', 'pageview');
</script>