<link href="{{ STATIC_URL }}template/www.interpegasus.com/css/fontello.css" type="text/css" rel="stylesheet">
{% if is_logged_in %}
<ul class="header_login">
    <li><a href = "/">Welcome {{request.user.first_name}}</a></li>
    <li>|</li>
    <li><a href = "/exit">Log out</a></li>
</ul>
{% else %}
<ul>
    <li><a href="/enter"><span class="pegasus_icon" title="InterPegasus"></span></a></li>
    <li><a href="{% url 'social:begin' 'facebook' %}"  title="Login via faceebook."><i class="icon-facebook-circled"></i></a></li>
    <li><a href="{% url 'social:begin' 'twitter' %}"  title="Login via twitter."><i class="icon-twitter-circled"></i></a></li>
    <li><a href="{% url 'social:begin' 'google-oauth2' %}"  title="Login via google."><i class="icon-gplus-circled"></i></a></li>
</ul>
{% endif %}