<li class="divider"></li>
{% if is_logged_in %}
<li><a data-tooltip aria-haspopup="true" class="has-tip" title="Welcome {{request.user.first_name}}" href = "#">Welcome {{request.user.first_name}}</a></li>
<li><a data-tooltip aria-haspopup="true" class="has-tip" title="Click here to close the session." href = "/exit">Log out</a></li>
{% else %}
<li><a data-tooltip aria-haspopup="true" class="has-tip"  href="/enter" title="Click here to create a new account or login."><span class=" fi-male-female size-24"></span></a></li>
<li><a data-tooltip aria-haspopup="true" class="has-tip"  href="{% url 'social:begin' 'facebook' %}"  title="Login via faceebook."><span class=" fi-social-facebook size-24"></span></a></li>
<li><a data-tooltip aria-haspopup="true" class="has-tip"  href="{% url 'social:begin' 'twitter' %}"  title="Login via twitter."><span class=" fi-social-twitter size-24"></span></a></li>
<li><a data-tooltip aria-haspopup="true" class="has-tip"  href="{% url 'social:begin' 'google-oauth2' %}"  title="Login via google."><span class=" fi-social-google-plus size-24"></span></a></li>
<li><a data-tooltip aria-haspopup="true" class="has-tip" title="Contact us via a web form." href="/contact"><span class=" fi-mail size-24"></span></a></li>
{% endif %}