{% extends "template/template-magicangel-page.html" %}

{% block title %}Form{% endblock %}{% block js %}

{% endblock %}{% block content %}
<div id = "static_content">
    <h1>category Form</h1>
    <a href = "/categories">Category List</a>

    <form action = "/category/edit/" method = "post" enctype = "multipart/form-data">
        {% csrf_token %} {{ formset.management_form }} {% if formset.errors %} {{ formset.errors }} {% endif %}
        <table>
            <tr>
                <td>Language</td>
                <td>Name</td>
                <td>Parent</td>
                <td>Order</td>
                <td>Allow Replies</td>
            </tr>
            {% for form in formset %}
            <tr>
                {% for item in form %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <input type = "submit" value = "Submit"/>
    </form>
</div>
<hr/><a href = "/categories/">Category List</a>{% endblock %}