{% extends "template/template.html" %}

{% block title %}Category List{% endblock %}
{% block js %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
        google.load('visualization', '1', {packages:['table']});
        google.setOnLoadCallback(drawTable);
        function drawTable() {
            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Category');
            data.addColumn('string', 'Parent');
            data.addColumn('string', 'Manage');
            data.addRows([
                {% for entry in category_list %}
                    ['{{ entry.name }}', '{{ entry.parent }}','<a href="/category/edit/{{ entry.id }}">Edit</a>|<a href="/category/delete/{{ entry.id }}">Delete</a>'],
                {% endfor %}
            ]);

            var table = new google.visualization.Table(document.getElementById('table_div'));
            table.draw(data, {showRowNumber: true,allowHtml: true});
        }
    </script>
{% endblock %}
{% block content %}
    <div id="static_content">
        <h1>Category List</h1>
        <div id='table_div'></div>
    </div>
    <a href="/category/new/">New</a>
{% endblock %}