{% extends "template/template.html" %}

{% block title %}Form{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
    <div id="static_content">
        <h1>category Form</h1>
        {%  if id %}
            <form action="/category/manage/{{ id }}/" method="post">
        {% else %}
            <form action="/category/manage/" method="post">
        {% endif %}
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>
    <hr />
    <a href="/category/list/">Category List</a>
{% endblock %}