{% extends template_admin %}

{% block title %}FeedSource List{% endblock %}{% block js %}
<script type = 'text/javascript' src = 'https://www.google.com/jsapi'></script>
<script type = 'text/javascript'>
    google.load('visualization', '1', {packages: ['table']});
    google.setOnLoadCallback(drawTable);
    function drawTable() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Source');
        data.addColumn('string', 'Feed URL');
        data.addColumn('string', 'Language');
        data.addColumn('string', 'Manage');
        data.addRows([
                {% for entry in feed_list %}
    ['{{ entry.source_type }}', '{{ entry.feed_url }}', '{{ entry.language }}', '<a href="/feed/edit/{{ entry.id }}/">Edit</a>|<a href="/feed/delete/{{ entry.id }}/">Delete</a>'],
            {% endfor %}
    ])
    ;

    var table = new google.visualization.Table(document.getElementById('table_div'));
    table.draw(data, {showRowNumber: true, allowHtml: true});
    }
</script>{% endblock %}{% block content %}
<div id = "static_content">
    <h1>FeedSource List</h1>

    <div id = 'table_div'></div>
</div><a href = "/feed/new/">New</a>

{% endblock %}