{% extends template_admin %}

{% block title %}Form{% endblock %}{% block js %}
<script src ="/static/ckeditor/ckeditor.js"></script>
<script src ="/static/ckeditor/adapters/jquery.js"></script>
<script type ="text/javascript">
    $(document).ready(function () {
        $('textarea').ckeditor();
    });
</script>
{% endblock %}

{% block content %}
<div id ="static_content">
    <h1>Gallery Form</h1>
    {% if id %}
        <form enctype="multipart/form-data" action="/gallery/edit/{{ id }}/" method="post">{% else %}
        <form enctype="multipart/form-data" action="/gallery/new/" method="post">
            {% endif %}
            {% csrf_token %}
            {{ gallery_form }}
            <hr/>
            {% if image_array %}
            {% for image in image_array %}
            <div>
                <a href ="{{ image.picasa_photo_url }}"><img src ="{{ image.picasa_thumb_url }}"/></a>
            </div>
            {% endfor %}
            {% endif %}
            <br />
            <h1>Image Form</h1>
            <div id="image_formset">
                <h3>Image 1</h3>
                <label for="image_name_1">Name:</label>
                <input id="image_name_1" maxlength="256" name="image_name_1" type="text">
                <label for="image_description_1">Description:</label>
                <textarea id="image_description_1" name="image_description_1" rows="7"></textarea>
                <label for="image_file_1">Image file:</label>
                <input id="image_file_1" name="image_file_1" type="file">
                <hr/>
                <h3>Image 2</h3>
                <label for="image_name_2">Name:</label>
                <input id="image_name_2" maxlength="256" name="image_name_2" type="text">
                <label for="image_description_2">Description:</label>
                <textarea id="image_description_2" name="image_description_2" rows="7"></textarea>
                <label for="image_file_2">Image file:</label>
                <input id="image_file_2" name="image_file_2" type="file">
                <hr/>
                <h3>Image 3</h3>
                <label for="image_name_3">Name:</label>
                <input id="image_name_3" maxlength="256" name="image_name_3" type="text">
                <label for="image_description_3">Description:</label>
                <textarea id="image_description_3" name="image_description_3" rows="7"></textarea>
                <label for="image_file_3">Image file:</label>
                <input id="image_file_3" name="image_file_3" type="file">
                <hr/>
                <h3>Image 4</h3>
                <label for="image_name_4">Name:</label>
                <input id="image_name_4" maxlength="256" name="image_name_4" type="text">
                <label for="image_description_4">Description:</label>
                <textarea id="image_description_4" name="image_description_4" rows="7"></textarea>
                <label for="image_file_4">Image file:</label>
                <input id="image_file_4" name="image_file_4" type="file">
                <hr/>
                <h3>Image 5</h3>
                <label for="image_name_5">Name:</label>
                <input id="image_name_5" maxlength="256" name="image_name_5" type="text">
                <label for="image_description_5">Description:</label>
                <textarea id="image_description_5" name="image_description_5" rows="7"></textarea>
                <label for="image_file_5">Image file:</label>
                <input id="image_file_5" name="image_file_5" type="file">
                <hr/>
            </div>
            <div><input type ="submit" value ="Submit"/></div>
        </form>
</div>
<hr/>
<a href ="/galleries/">Gallery List</a>

{% endblock %}