{% extends template_admin %}

{% block title %}Gallery List{% endblock %}{% block js %}
<script type = 'text/javascript' src = 'https://www.google.com/jsapi'></script>
<script type = 'text/javascript'>
    google.load('visualization', '1', {packages: ['table']});
    google.setOnLoadCallback(drawTable);
    function drawTable() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Gallery');
        data.addColumn('string', 'Is Enabled');
        data.addColumn('string', 'Is Default');
        data.addColumn('string', 'Slug');
        data.addColumn('string', 'Manage');
        data.addRows([
            {% for entry in gallery_list %}
                ['{{ entry.name }}','{{ entry.is_enabled }}','{{ entry.is_default }}','{{ entry.slug }}', '<a href="/gallery/edit/{{ entry.id }}/">Edit</a>|<a href="/gallery/delete/{{ entry.id }}/">Delete</a>'],
            {% endfor %}
        ]);

    var table = new google.visualization.Table(document.getElementById('table_div'));
    table.draw(data, {showRowNumber: true, allowHtml: true});
    }
</script>{% endblock %}{% block content %}
<div id = "static_content">
    <h1>Gallery List</h1>

    <div id = 'table_div'></div>
</div>
<hr />
<a href = "/gallery/new/">New</a>

{% endblock %}