{% extends template_admin %}

{% block title %}Form{% endblock %}{% block js %}
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="/static/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('textarea').ckeditor();
    });
</script>
{% endblock %}

{% block content %}
<div id="static_content">
    <h1>Gallery Form</h1>
    {% if id %}
        <form enctype="multipart/form-data" action="/gallery/edit/{{ id }}/" method="post">
            {% else %}
        <form enctype="multipart/form-data" action="/gallery/new/" method="post">
            {% endif %}
            {% csrf_token %}
            {{ gallery_form.as_p }}
            <hr/>
            {% if image_array %}
            {% for image in image_array %}
            <div>
                <a href="{{ image.picasa_photo_url }}"><img src="{{ image.picasa_thumb_url }}"/></a>
            </div>
            {% endfor %}
            {% endif %}
            <br />
            <div><input type="submit" value="Submit"/></div>
        </form>
</div>
<hr/>
<a href="/galleries/">Gallery List</a>

{% endblock %}