{% extends template_admin %}
{% block title %}Image List{% endblock %}
{% block js %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>

<!-- main.js -->
<script type="text/javascript">
    $(document).ready(function() {
        //toggle `popup` / `inline` mode
        $.fn.editable.defaults.mode = 'inline';
        if (document.URL.indexOf("127") > -1) {
            var url = 'http://127.0.0.1:8080';
        }
        else if (document.URL.indexOf("arturo.interpegasus") > -1){
            var url = 'http://arturo.interpegasus.com';
        }
        else if (document.URL.indexOf("nrwl") > -1){
            var url = 'http://nrwl.org';
        }
        else if (document.URL.indexOf("magicangel") > -1){
            var url = 'http://magicangel.org';
        }
        else if (document.URL.indexOf("yiyask") > -1){
            var url = 'http://yiyask.com';
        }
        else if (document.URL.indexOf("bible7") > -1){
            var url = 'http://bible7.co';
        }
        else if (document.URL.indexOf("portfolio") > -1){
            var url = 'http://portfolio.interpegasus.com';
        }
        else if (document.URL.indexOf("interpegasus.com") > -1){
            var url = 'http://interpegasus.com';
        }
        var order_array = [];
        var is_enabled_array = [{value: 1, text: 'True'},{value: 0, text: 'False'}];
        for (i=1;i<=50;i++){
            order_array.push({value: i, text: i.toString()});
        }
        var gallery_array = [];
        {% for gallery in gallery_list %}
            gallery_array.push({value: {{gallery.id}}, text: '{{gallery.name}}' });
        {% endfor %}
        {% for entry in image_list %}
            $('#image_name_{{entry.id}}').editable({
                type: 'text',
                pk: {{entry.id}},
                name:'name',
                url: url + '/ajax/save/image/{{entry.id}}/',
                title: 'Image Name',
                success: function(response, newValue) {    if(!response.success) return response.msg;}
            });
            $('#image_description_{{entry.id}}').editable({
                type: 'textarea',
                pk: {{entry.id}},
                name:'description',
                url: url + '/ajax/save/image/{{entry.id}}/',
                title: 'Image Description',
                success: function(response, newValue) {    if(!response.success) return response.msg;}
            });
            $('#image_order_{{entry.id}}').editable({
                type: 'select',
                pk: {{entry.id}},
                name:'order',
                url: url + '/ajax/save/image/{{entry.id}}/',
                title: 'Image Order',
                value: 1,
                source: order_array,
                success: function(response, newValue) {    if(!response.success) return response.msg;}
            });
    
            $('#image_is_enabled_{{entry.id}}').editable({
                type: 'select',
                pk: {{entry.id}},
                name:'is_enabled',
                url: url + '/ajax/save/image/{{entry.id}}/',
                title: 'Image Is Enabled',
                value: 1,
                source: is_enabled_array,
                success: function(response, newValue) {    if(!response.success) return response.msg;}
            });
            
            $('#image_gallery_{{entry.id}}').editable({
                type: 'select',
                pk: {{entry.id}},
                name:'gallery',
                url: url + '/ajax/save/image/{{entry.id}}/',
                title: 'Image Is Enabled',
                value: 1,
                source: gallery_array,
                success: function(response, newValue) {    if(!response.success) return response.msg;}
            });

            
        {% endfor %}



    });
</script>
{% endblock %}
{% block content %}
<div id ="static_content">
    <h1>Image List</h1>
    <table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Picasa thumb</th>
        <th>Slug</th>
        <th>Order</th>
        <th>Is Enabled</th>
        <th>Page</th>
        <th>Gallery</th>
        <th>Manage</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in image_list %}
        <tr>
        <td><a href="#" id="image_name_{{entry.id}}" data-type="text" data-placement="right" data-title="Image Name">{{entry.name}}</a></td>
        <td><a href="#" id="image_description_{{entry.id}}" data-type="textarea" data-placement="right" data-title="Image Description">{{entry.description}}</a></td>
        <td><a href="{{ entry.picasa_photo_url }}" target="_blank"><img style="max-height: 90px;width: auto;"  src="{{ entry.picasa_thumb_url }}" /></a></td>
        <td>{{ entry.slug }}</td>
        <td><a href="#" id="image_order_{{entry.id}}" data-type="select" data-placement="right" data-title="Image Order">{{entry.order}}</a></td>
        <td><a href="#" id="image_is_enabled_{{entry.id}}" data-type="select" data-placement="right" data-title="Image Is Enabled">{{entry.is_enabled}}</a></td>
        <td><a href="/page/edit/{{ entry.page.id }}">{{ entry.page.title }}</a></td>
        <td><a href="#" id="image_gallery_{{entry.id}}" data-type="select" data-placement="right" data-title="Image Gallery">{{entry.gallery}}</a></td>
        <td><a href="/image/delete/{{ entry.id }}/">Delete</a></td>
    </tr>
    </tbody>
    {% endfor %}
</table>

</div>

<a class="button tiny" href = "/pages/">Pages</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="button tiny" href = "/galleries/">Galleries</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="button tiny" href = "/image/new/">New Image</a>








{% endblock %}