{% extends template_admin %}

{% block title %}Form{% endblock %}{% block js %}
<script src = "/static/ckeditor/ckeditor.js"></script>
<script src = "/static/ckeditor/adapters/jquery.js"></script>
<script type = "text/javascript">
    $(document).ready(function () {
        $('textarea').ckeditor();
    });
</script>

{% endblock %}{% block content %}
<div id = "static_content">
    <h1>Page Form</h1>
    {% if id %}
    <form enctype = "multipart/form-data" action = "/page/edit/{{ id }}/" method = "post">
        {% else %}
        <form enctype = "multipart/form-data" action = "/page/new/" method = "post">
            {% endif %} {% csrf_token %} {{ page_form }}
            <hr/>
            {% if image_array %} {% for image in image_array %}
            <div>
                <a href = "{{ image.picasa_photo_url }}"><img src = "{{ image.picasa_thumb_url }}"/></a>
            </div>
            {% endfor %} {% endif %}
            <h3>Image Form</h3>
            {{ image_formset }}
            <hr/>
            <input type = "submit" value = "Submit"/>
        </form>
</div>
<hr/><a href = "/pages/">Page List</a>{% endblock %}