{% extends template_page %}

{% block title %}Page List{% endblock %}{% block js %}

{% endblock %}{% block content %}
<div class="row">
    <div class="large-12 columns">
        {% if wiki_page %}
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="#">{{ wiki_page.title }}</a></li>
        </ul>
        <div class="row">
            <div class="large-3 medium-4  small-12 columns">
                {{wiki_page.infobox|safe}}
            </div>
            <div class="large-9 medium-8 smal-12 columns">
                <h1>{{ wiki_page.title }}</h1>
                <h2>Summary</h2>
                {{wiki_page.summary|safe}}
                <h2>Reference</h2>
                <a href="{{wiki_page.url}}">Wikipedia - {{wiki_page.title}}</a>
            </div>
        </div>
        <br/>
        {% else %}
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li class="current"><a href="#">{{ page.title }}</a></li>
        </ul>
        <p class="post-date"><i class="icon-calendar"></i> {{page.created_at}}</p>
        <h2>{{ page.title }}</h2>
        {% if page.image_url %}
        <a href="{{ page.feed_source }}" target="_blank"><img class="rounded_image_page" src="{{page.image_url}}" /></a>
        {% endif%}
        <br/>
        {% if page.feed_image_url %}
        <p>{{ page.content_no_html|safe }}</p>
        <img id="feed_logo" src="{{page.feed_image_url}}" />
        {% else %}
        <p>{{ page.content|safe }}</p>
        {% endif%}
        <br/>
        {% if page.feed_source %}
        <a href="{{page.feed_source}}" target="_blank" class="button tiny">Read More</a>
        {% endif%}
        {% endif %}
    </div>
    <br/>
    <hr/>
    {% for entry in image_array %}
    {{ entry.name }}
    <a href="{{ entry.picasa_photo_url }}"><img src="{{ entry.picasa_thumb_url }}"/></a>
    {% if is_admin %}
    <a href="/image/delete/{{ entry.id }}/">Delete</a>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}