{% extends template_admin %}

{% block title %}Form{% endblock %}{% block js %}
<script src = "/static/ckeditor/ckeditor.js"></script>
<script src = "/static/ckeditor/adapters/jquery.js"></script>
<script type = "text/javascript">
    $(document).ready(function () {
        $('textarea').ckeditor();
    });
</script>
{% endblock %}

{% block content %}
<div id = "static_content">
    <h1>Page Form</h1>
    {% if id %}
        <form enctype = "multipart/form-data" action = "/page/edit/{{ id }}/" method = "post">
    {% else %}
        <form enctype = "multipart/form-data" action = "/page/new/" method = "post">
    {% endif %}
            {% csrf_token %}
            {{ page_form }}
            <hr/>
            {% if image_array %}
            {% for image in image_array %}
            <div>
                <a href = "{{ image.picasa_photo_url }}"><img src = "{{ image.picasa_thumb_url }}"/></a>
            </div>
            {% endfor %}
            {% endif %}
            <br />
            <h1>Image Form</h1>
            <div id="image_formset">
                <label for="image_name_1">Name:</label>
                <input id="image_name_1" maxlength="256" name="image_name_1" type="text">
                <label for="image_description_1">Description:</label>
                <textarea id="image_description_1" name="image_description_1" rows="7"></textarea>
                <label for="image_file_1">Image file:</label>
                <input id="image_file_1" name="image_file_1" type="file">
                <hr/>
            </div>
            <div><input type = "submit" value = "Submit"/></div>
        </form>
</div>
<hr/>
<a href = "/pages/">Page List</a>

{% endblock %}