{% extends template_admin %}

{% block title %}Site Map{% endblock %}
{% block content %}
    <div id="sitemap">
        {% for main_category in categories %}
            {% if main_category.parent %}
                <div>
                    <h4><a href = "/{{main_category.language}}/c/{{main_category.slug}}">{{ main_category.name|upper }}</a></h4>
                    {% for page in main_category.page_array %}
                        <div><a href ="/{{main_category.language}}/{{page.slug}}">{{ page.title }}</a></div>
                    {% endfor %}
                    {% for sub_category in categories %}
                        {% if sub_category.parent_id == main_category.id %}
                            <div> <a href ="/{{main_category.language}}/c/{{sub_category.slug}}">{{ sub_category.name }}</a></div>
                            {% for page in sub_category.page_array %}
                                <div><a href ="/{{main_category.language}}/{{page.slug}}">{{ page.title }}</a></div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="language_list">
    {% for language in languages.languages %}
        <a href ="/{{ language.code }}">{{ language.name }}</a>
            {% if forloop.last %}
                &nbsp;&nbsp;
            {% else %}
                &nbsp;|&nbsp;
            {%endif %}
    {% endfor %}
    </div>
{% endblock %}