{% extends template_admin %}
{% block title %}Site Map{% endblock %}
{% block content %}
<span style="font-size: 50px;">Site Map</span>
<br /><br />
<span style="font-size: 21px;">XML Sitemap - Search Engines</span>
<br />
<a href="/sitemap.xml">sitemap.xml</a>
<br /><br />
<span style="font-size: 21px;">Languages</span>
{% for object in bible_array %}
<br />
{% if object.language_family_name == object.language_family_english %}
<a href="/{{object.language_family_iso|lower}}">{{object.language_family_english}}</a>
{%else%}
<a href="/{{object.language_family_iso|lower}}">{{object.language_family_name}} - {{object.language_family_english}}</a>
{% endif %}
- <a href="/sitemap/{{ object.language_family_iso|lower }}.xml">{{ object.language_family_iso|lower }}.xml</a>
{% for bible in object.bible_array %}
<br \>
&nbsp;&nbsp;&nbsp;&nbsp;&bullet; <a href="/{{bible.language_family_iso|lower}}/bible/{{bible.dam_id}}">{{bible.volume_name}} - {{bible.collection_code}}</a>
{% endfor %}
{% endfor %}
{% endblock %}