{% extends template_page %}

{% block title %}Site Map{% endblock %}
{% block content %}
<div id="sitemap">
    {% for language in language_list %}
    <div>
        <h2>{{language.name}}</h2>
        {% for main_category in categories %}
            {% if main_category.name != 'Root' %}
                {% if main_category.parent_id == 1 and main_category.language_code == language.code and language.is_enabled %}
                    <div>
                        <h5><a href = "/{{main_category.language_code}}/c/{{main_category.slug}}">{{ main_category.name|upper }}</a></h5>
                    </div>
                    {% for page in main_category.page_array %}
                        <div>
                            <a href ="/{{main_category.language_code}}/{{page.slug}}">{{ page.title }}</a>
                        </div>
                    {% endfor %}
                    {% for sub_category in categories %}
                        {% if sub_category.parent_id == main_category.id %}
                        <div>
                            <a href ="/{{main_category.language_code}}/c/{{sub_category.slug}}">{{ sub_category.name }}</a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <br />
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
</div>
{% endblock %}