{% load record-tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Responsive HTML5/CSS3 template</title>
    <meta charset = "utf-8"/>
    <meta name = "viewport" content = "width=device-width, maximum-scale = 1, minimum-scale=1"/>
    <link rel = "stylesheet" type = "text/css" href = "/static/template/maf2/css/main.css" media = "all"/>
    <link href = 'http://fonts.googleapis.com/css?family=PT+Sans' rel = 'stylesheet' type = 'text/css'/>
    <link rel = "stylesheet" href = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
    <script src = "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src = "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src = "/static/template/maf2/js/jquery.flexslider.js"></script>
    <script src = "/static/template/maf2/js/default.js"></script>
    <script src = "{{ STATIC_URL }}template/maf/js/jquery.easing.min.js"></script>
    <script src = "{{ STATIC_URL }}template/maf/js/jquery.scrollto.min.js"></script>
    <script type = "text/javascript" src = "https://maps.google.com/maps/api/js?sensor=false"></script>
    <!--[if lt IE 9]>
    <script src = "http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src = "/static/template/maf2/js/respond.min.js"></script>    <![endif]-->
</head>
<body onload = "initialize()">
{% if is_admin %}
<div id = "menu-tab"></div>
<div id = "menu-container">
    <div id = "menu-container-top"></div>
    <div id = "menu-container-middle">
        <ul id = "menu">
            <li><a href = "/languages/">Languages</a></li>
            <li><a href = "/categories/">Categories</a></li>
            <li><a href = "/pages/">Pages</a></li>
            <li><a href = "/records/">Records</a></li>
            <li><a href = "/users/">Users</a></li>
            <li><a href = "/spreadsheets/">Spreadsheets</a></li>
            <li><a href = "/images/">Images</a></li>
        </ul>
    </div>

    <div id = "menu-container-footer"></div>
</div>
{% endif %}
<div id = "microdata">
    <div itemscope itemtype = "http://data-vocabulary.org/Organization">
        <h1 itemprop = "name">{{ 'WEBSITE_NAME'|get_record}}</h1>

        <p itemprop = "description">{{ 'WEBSITE_DESCRIPTION'|get_record}}</p>

        <p itemprop = "address" itemscope itemtype = "http://data-vocabulary.org/Address">
            <span itemprop = "country-name">USA.</span> <span itemprop = "tel">1-424-781-3176</span>
        </p>
    </div>
    <a href = "http://www.magicangel.org" itemprop = "url">http://www.magicangel.org</a>
</div>
<div id = "pagewidth">
<div id = "header">
    <div class = "container">
        <div class = "row">
            <i id = "nav-button" class = "icon-circle-arrow-down"></i>

            <h2 id = "logo"><a href = "/"><span class = "highlight">MAGIC ANGEL</span> <span class = "no-highlight">FOUNDATION</span></a></h2>

            <div id = "social-container">
                <div id = "social">
                    {% if is_logged_in %}
                    <ul>
                        <li><a id = "header_login" href = "/">Welcome {{request.user.first_name}}</a></li>
                        <li>|</li>
                        <li><a id = "header_login" href = "/exit">Log out</a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a class = "facebook_login" href = "{% url socialauth_begin 'facebook' %}"></a></li>
                        <li><a class = "twitter_login" href = "{% url socialauth_begin 'twitter' %}"></a></li>
                        <li><a href = "/enter">Enter</a></li>
                    </ul>
                    {% endif %}
                </div>
                <hr/>
                <div id = "share">
                    <!-- AddThis Button BEGIN -->
                    <div class = "addthis_toolbox addthis_default_style ">
                        <a class = "addthis_button_facebook"></a> <a class = "addthis_button_twitter"></a> <a class = "addthis_button_tumblr"></a> <a class = "addthis_button_email"></a> <a class = "addthis_button_compact"></a> <a class = "addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type = "text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
                    <script type = "text/javascript" src = "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e06184358803e3a"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
            <div id = "top-nav" class = "">
                <ul id = "fixed-nav">
                    <li class = "current"><a href = "#home">Home</a></li>
                    {% for main_category in categories %} {% if main_category.name != 'Root' %} {% if main_category.parent_id == 1 %}
                    <li><a href = "#{{main_category.slug}}">{{ main_category.name }}</a></li>
                    {% endif %} {% endif %} {% endfor %}
                    <li><a href = "#contact">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div id = "content">
<section id="home" class = "row">
    <div class = "center">
        <h1>Responsive HTML5/CSS3 template</h1>
        <strong class = "subHeading">works well on Desktops, Tablets, and Mobile Phones</strong>

        <div class = "gallery">
            <ul class = "slides">
                <li><img src = "img/img-gallery.jpg" alt = "image"/></li>
                <li><img src = "img/img-gallery2.jpg" alt = "image"/></li>
                <li><img src = "img/img-gallery3.jpg" alt = "image"/></li>
            </ul>
        </div>
        <div class = "buttons">
            <a href = "http://webcodebuilder.com/examples/responsive-html5css3-template/responsive-html5css3-template.zip" class = "btn btnGreen"><span>Download Template</span></a> <span><em>or</em></span> <a href = "http://webcodebuilder.com" class = "btn btnBlue"><span>Visit Developers Site</span></a>
        </div>
    </div>
</section>
<section id = "twoColumnLayout" class = "row grey">
    <div class = "center">
        <h1>Two Column Layout</h1>
        <strong class = "subHeading">lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

        <div class = "columns">
            <div class = "half">
                <div class = "imgHolder alignLeft"><img src = "img/content01.jpg" alt = "image"/></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis orci, vel iaculis massa sapien sed risus.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>adipiscing elit. In luctus, tortor vel</li>
                </ul>
                <p>Ut scelerisque, sapien in luctus ultrices, <a href = "#">magna ante convallis</a> orci, vel iaculis massa sapien sed risus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>
            </div>
            <div class = "half">
                <div class = "imgHolder fullWidth"><img src = "img/content02.jpg" alt = "image"/></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>
            </div>
        </div>
    </div>
</section>
<section id = "threeColumnLayout" class = "row">
    <div class = "center">
        <h1>Three Column Layout</h1>
        <strong class = "subHeading">lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

        <div class = "columns">
            <div class = "oneThird">
                <div class = "imgHolder fullWidth"><img src = "img/content03.jpg" alt = "image"/></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa <a href = "#">tellus elementum</a> nunc, eu pulvinar urna risus a orci.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis orci</p>
            </div>
            <div class = "oneThird">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur</li>
                    <li>adipiscing elit. In luctus, tortor vel</li>
                    <li>pharetra, massa tellus elementum nunc</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus. </p>

                <p>In luctus, tortor vel vehicula pharetra, massa tellus. S ss fit amet, consectetur adipiscing elit. </p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus. </p>
            </div>
            <div class = "oneThird">
                <div class = "imgHolder alignLeft"><img src = "img/content05.jpg" alt = "image"/></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis orci, vel iaculis massa sapien sed risus.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis orci, vel iaculis massa sapien sed risus.</p>

                <p>Ut scelerisque, sapien in luctus ultrices, magna ante convallis orc.</p>
            </div>
        </div>
    </div>
</section>
<section id = "boxes" class = "row grey">
    <div class = "center">
        <h1>Information Boxes</h1>
        <strong class = "subHeading">lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

        <div class = "columns">
            <article class = "news oneThird">
                <div>
                    <h3><a href = "#">Lorem ipsum dolor</a></h3>

                    <div class = "content">
                        <a href = "#" class = "imgHolder fullWidth"><img src = "img/img-news01.jpg" alt = ""/></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class = "readMore"><a href = "#" class = "btn btnSmall"><span>Read More</span></a></div>
                </div>
            </article>
            <article class = "news oneThird">
                <div>
                    <h3><a href = "#">Lorem ipsum dolor</a></h3>

                    <div class = "content">
                        <a href = "#" class = "imgHolder fullWidth"><img src = "img/img-news01.jpg" alt = ""/></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class = "readMore"><a href = "#" class = "btn btnSmall"><span>Read More</span></a></div>
                </div>
            </article>
            <article class = "news oneThird">
                <div>
                    <h3><a href = "#">Lorem ipsum dolor</a></h3>

                    <div class = "content">
                        <a href = "#" class = "imgHolder fullWidth"><img src = "img/img-news01.jpg" alt = ""/></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra.</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class = "readMore"><a href = "#" class = "btn btnSmall"><span>Read More</span></a></div>
                </div>
            </article>
        </div>
    </div>
</section>
<section id = "testiomonialsTab" class = "row">
    <div class = "center">
        <h1>Testimonials</h1>
        <strong class = "subHeading">lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

        <div id = "testimonials" class = "gallery">
            <ul class = "slides">
                <li>
                    <div class = "row">
                        <blockquote>
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar </q>
                        </blockquote>
                        <blockquote>
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar </q>
                        </blockquote>
                    </div>
                    <div class = "row">
                        <blockquote>
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar </q>
                        </blockquote>
                        <blockquote>
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, mas</q>
                        </blockquote>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id = "contactUs" class = "row grey">
    <div class = "center">
        <h1>Contact Us</h1>
        <strong class = "subHeading">lorem ipsum dolor sit amet, consectetur adipiscing elit</strong>

        <div class = "columns">
            <div class = "half">
                <form method = "post" action = "contact.php" class = "form contact-form">
                    <fieldset>
                        <h2>Feedback form</h2>

                        <div id = "message"></div>
                        <div class = "formRow">
                            <div class = "textField"><input type = "text" name = "contact-name" id = "name" placeholder = "Your name ..."/></div>
                        </div>
                        <div class = "formRow">
                            <div class = "textField"><input type = "text" name = "contact-email" id = "email" placeholder = "Your Email ..."/></div>
                        </div>
                        <div class = "formRow">
                            <div class = "textField"><textarea cols = "20" name = "contact-comment" id = "comment" rows = "4" placeholder = "Your Comment ..."></textarea></div>
                        </div>
                        <div class = "formRow">
                            <button class = "btnSmall btn submit right">
                                <span>Send Message</span>
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class = "half">
                <h2>How to find us</h2>

                <div id = "map">
                    <div class = "imgHolder">
                        <div id = "map_canvas" style = "width:445px; height:392px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<footer id = "footer">
    <div class = "center">
        <span class = "copy">Created by <a href = "http://webcodebuilder.com">WebCodeBuilder.com</a></span> Subscribe to our <a href = "http://webcodebuilder.com/feed/">blog</a> and follow us on <a href = "https://twitter.com/#!/webcodebuilder">Twitter</a>
    </div>
</footer>
</div>
</body>
</html>