{% load record-tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ 'WEBSITE_NAME'|get_record}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ 'WEBSITE_NAME'|get_record}}">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}template/maf/css/main.css">
    <link href="{{ STATIC_URL }}template/maf/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/jquery.scrollto.min.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/slabtext.min.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/jquery.nav.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/main.js"></script>
    <script src="{{ STATIC_URL }}template/maf/js/admin_panel.js"></script>

    {% block js %}{% endblock %}
</head>
<!-- To change color change the class "color-1" to "color-2, color-3 ... color-6" -->

<body class="home color-2">
{% if is_admin %}
<div id="menu-tab"></div>
<div id="menu-container">
    <div id="menu-container-top"></div>
    <div id="menu-container-middle">
        <ul id="menu">
            <li><a href="/languages/">Languages</a></li>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/pages/">Pages</a></li>
            <li><a href="/records/">Records</a></li>
            <li><a href="/users/">Users</a></li>
            <li><a href="/spreadsheets/">Spreadsheets</a></li>
            <li><a href="/images/">Images</a></li>
        </ul>
    </div>

    <div id="menu-container-footer"></div>
</div>
{% endif %}
<div id="microdata">
    <div itemscope itemtype="http://data-vocabulary.org/Organization">
        <h1 itemprop="name">{{ 'WEBSITE_NAME'|get_record}}</h1>

        <p itemprop="description">{{ 'WEBSITE_DESCRIPTION'|get_record}}</p>

        <p itemprop="address" itemscope
           itemtype="http://data-vocabulary.org/Address">
            <span itemprop="country-name">USA.</span>
            <span itemprop="tel">1-424-781-3176</span>
        </p>
    </div>
    <a href="http://www.magicangel.org" itemprop="url">http://www.magicangel.org</a>
</div>
<div id="header">
    <div class="container">
        <div class="row">
            <i id="nav-button" class="icon-circle-arrow-down"></i>

            <h2 id="logo"><a href="/"><span class="highlight">MAGIC ANGEL</span> <span class="no-highlight">FOUNDATION</span></a></h2>

            <div id="social-container">
                <div id="social">
                    {% if is_logged_in %}
                    <ul>
                        <li><a id="header_login" href="/">Welcome {{request.user.first_name}}</a></li>
                        <li>|</li>
                        <li><a id="header_login" href="/exit">Log out</a></li>
                    </ul>
                    {% else %}
                    <ul>
                        <li><a class="facebook_login" href="{% url socialauth_begin 'facebook' %}"></a></li>
                        <li><a class="twitter_login" href="{% url socialauth_begin 'twitter' %}"></a></li>
                        <li><a href="/enter">Enter</a></li>
                    </ul>
                    {% endif %}
                </div>
                <hr/>
                <div id="share">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style ">
                        <a class="addthis_button_facebook"></a>
                        <a class="addthis_button_twitter"></a>
                        <a class="addthis_button_tumblr"></a>
                        <a class="addthis_button_email"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e06184358803e3a"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
            <div id="top-nav" class="">
                <ul id="fixed-nav">
                    <li class="current"><a href="#home">Home</a></li>
                    {% for main_category in categories %}
                    {% if main_category.name != 'Root' %}
                    {% if main_category.parent_id == 1 %}
                    <li><a href="#{{main_category.slug}}">{{ main_category.name }}</a></li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- End Header -->
<!-- Big Full screen Banner -->
<div class="hero bg-fixed bg-color" id="home">
    <div class="slogan">
        <div class="vcenter container">
            <div class="row">
                <div class="span12">
                    <h1>{{ 'WEBSITE_NAME'|get_record}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% for main_category in categories %}
{% if main_category.name != 'Root' %}
{% if main_category.parent_id == 1 %}
<div class="{% cycle 'section' 'section-alt'%}" id="{{main_category.slug}}">
    <div class="container">
        <div class="content">
            <div><h2>{{ main_category.name }}</h2></div>
            <div class="columns">
                {% for sub_category in categories %}
                    {% if sub_category.parent_id == main_category.id %}
                        <article class="news oneThird">
                            <div>
                                <h3><a href="/{{sub_category.language_code}}/c/{{sub_category.slug}}">{{ sub_category.name }}</a></h3>
                                <div class="content">
                                    <p>Page Description</p>
                                    <p>Read More</p>
                                </div>
                                <div class="readMore"><a href="#" class="btn btnSmall"><span>Read More</span></a></div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endfor %}
<!-- Contact Section -->
<div class="section" id="contact">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <div class="title">
                        <h2>Contact Us</h2>

                        <div class="hr hr-small hr-center"><span class="hr-inner"></span></div>
                        <p>Magic Angel Foundation</p>

                    </div>
                </div>
                <div class="span8">
                    <iframe width="100%" height="317" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=164-991%2Bhornby%2Bst%2Bvancouver&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
                </div>
                <div class="span4">
                    <h4>Our Location</h4>

                    <p>164- 991 Hornby St</p>
                    <hr class="grey"/>
                    <h4>Email &amp; Phone</h4>

                    <p>info@magicangel.org</p>

                    <p>206-542-8679</p>
                    <hr class="grey"/>
                    <h4>Socialize With Us</h4>

                    <div class="social">
                        <a href="#fb"><i class="twitter_icon"></i></a>
                        <a href="#fb"><i class="facebook_icon"></i></a>
                        <a href="#fb"><i class="googleplus_icon"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Contact Section -->
<div id="footer">
    <div id="footer-description">
        <h2>{{ 'WEBSITE_NAME'|get_record}}</h2>

        <p>{{ 'WEBSITE_DESCRIPTION'|get_record}}</p>
    </div>
    <div id="footer-categories">
        {% for main_category in categories %}
        {% if main_category.name != 'Root' %}

        {% if main_category.parent_id == 1 %}
        <div class="footer-div">
            <a href="/{{main_category.language_code}}/c/{{main_category.slug}}"><h4>{{ main_category.name }}</h4></a>
            {% for page in pages %}
            {% if page.category_id == main_category.id %}
            <a href="/{{page.language_code}}/{{page.slug}}">{{ page.title }}</a>
            <br/>
            {% endif %}
            {% endfor %}
            {% for sub_category in categories %}
            {% if sub_category.parent_id == main_category.id %}
            <a href="/{{sub_category.language_code}}/c/{{sub_category.slug}}">{{ sub_category.name }}</a>
            <br/>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% endif %}
        {% endfor %}
        <div class="footer-div">
            <h4>Site map</h4>
            <a href="/sitemap">Site map</a>
        </div>
    </div>
    <div id="copyright">
        <ul>
            <li><a href="https://appengine.google.com/" class="google_app_engine_icon"></a></li>
            <li><a href="https://www.magicangel.org"><b>&copy; {% now "Y" %} {{ 'WEBSITE_NAME'|get_record}}</b></a></li>
            <li><a href="http://www.interpegasus.com" class="interpegasus_icon"></a></li>
        </ul>
    </div>
    <div id="footer-clear"></div>
</div>
</body>
</html>