{% extends "template/template-page.html" %}

{% block title %}Form{% endblock %}{% block js %}

{% endblock %}{% block content %}
<div id = "static_content">
    <h1>category Form</h1>
    {% if id %}
    <form action = "/en/category/edit/{{ id }}/" method = "post">
        {% else %}
        <form action = "/en/category/new/" method = "post">
            {% endif %} {% csrf_token %} {{ form }} <input type = "submit" value = "Submit"/>
        </form>
</div>
<hr/><a href = "/en/categories/">Category List</a>{% endblock %}