#footer{background-color:#006400;border:none;}
#footer h1,#footer h4,#footer h3,#footer h2{border-style:none;color:#FFF;}
#footer hr{border-bottom-color:#FFF;}
#footer li{list-style:none;list-style-image:none;}
#menu a{background:#FFF url("/public/images/interpegasus.com/seperator.gif") bottom right no-repeat;color:#2680a2;}
#menu a:hover{background:#2680a2 url("/public/images/interpegasus.com/hover.gif") bottom center no-repeat;}
#register_link a,h1,h2,h3,h4,.sideContainerBody a{color:green;}
#register_link a:hover{color:#f90;}
.after_layout_container{background-color:transparent;background-image:url("/public/images/interpegasus.com/sun-green-footer.gif");border:none;}
.box .icon_read_more{margin-top:-7px;}
.box li{list-style:disc;}
.box p{min-height:155px;}
.box ul{position:absolute;top:111px;}
.layout_top_login{background-color:#2580a2;background-image:url(/public/images/interpegasus.com/interpegasus-cloud.jpg);background-repeat:repeat-x;height:50px;min-width:970px;padding-top:12px;width:100%;}
.sideContainerBody{background-color:transparent;border-style:none;clear:both;color:green;margin-bottom:.5em;padding:.5em 0;text-align:center;vertical-align:middle;}
.sideContainerHeader{background-color:transparent;border-style:none;color:green;font-size:21px;font-weight:700;margin-top:.5em;padding:.3em;text-align:left;vertical-align:middle;}
h1{font-size:21px;}
h1,h3,h4{border-bottom-color:green;}
hr{border:1px solid green;border-top-style:none;}
html,body,span,p,*{color:#2F4F4F;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;margin:0;padding:0;}
.article-container{min-height: 360px;}