/* SOCIAL ICONS*/

.twitter_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -6px -4px;
    height: 60px;
    width: 60px;
    display: block;
}

.facebook_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -143px -4px;
    height: 60px;
    width: 60px;
    display: block;
}

.facebook_icon_small{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -143px -4px;
    height: 60px;
    width: 60px;
    display: block;
    background-size: 100%;
}

.googleplus_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -144px -156px;
    height: 60px;
    width: 60px;
    display: block;
}

.email_1_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -212px -4px;
    height: 60px;
    width: 60px;
    display: block;
}

.email_2_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -8px -85px;
    height: 60px;
    width: 60px;
    display: block;
}

.interpegasus_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -210px -6px;
    height: 35px;
    width: 80px;
    display: inline-block;
}

.google_app_engine_icon
{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -33px -628px;
    height: 70px;
    width: 240px;
    display: inline-block;

}

.facebook_login{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -60px -412px;
    height: 42px;
    width: 195px;
    display: block;
    overflow: hidden;
    border-radius: 4px;
}

.twitter_login{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -55px -492px;
    height: 42px;
    width: 195px;
    display: block;
    border-radius: 4px;
}

.google_login{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -55px -570px;
    height: 42px;
    width: 195px;
    display: block;
    border-radius: 4px;

}

.pegasus_icon{
    background-image: url('/static/images/icons/social_icons.png');
    background-repeat: no-repeat;
    background-position: -160px -6px;
    height: 45px;
    width: 40px;
    display: inline-block;
    margin-top: -10px;
}

/* LABEL */
label.error{
    color: red;
    font-size: 12px;
    padding-left: 12px;
}

#microdata{
    display:none;
}
#table_div{
    width: 65%;
    margin: 0 auto;
}

a.hand_link:hover{
    cursor: pointer; cursor: hand;
}

.large_login{
    width:195px;
}


/* Footer */

#copyright{
    margin: 70px 0 20px 0;
    height: 100px;
    min-height: 100px;
}

#copyright li{
    list-style: none;
    text-align: center;
    width: 33%;
    float: left;
    clear: none;
    display: block;
    padding-top: 25px;
}

#footer-content, #sitemap{
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari and Chrome */
    column-count:3;

    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;

    -moz-column-rule:1px outset #fff; /* Firefox */
    -webkit-column-rule:1px outset #fff; /* Safari and Chrome */
    column-rule:1px outset #fff;
}

#footer-content h2{
    color: #FFF;
    font-size: 21px;
}
#footer-content p{
    color: #FFF;
    font-size: 15px;
    padding: 0 18px;
    margin: 3px auto;
}

#footer-content div a{
    margin: 3px 0;font-size: 12px;text-decoration: none;clear: both;
}
#footer-content div a:hover{
    text-decoration: underline;
}

#footer-content div.footer-category, #footer-content div.footer-category a:hover,#footer-content div.footer-category a{
    margin: 15px 0 3px 0;
    font-size: 25px;
    text-decoration: none;
    clear: both;
    text-align: center;
}

/* Contact */

.half{
    width:45.0%;
    min-width: 300px;
    margin:1.7%;
    float: left;
}

input,select,textarea{
    width:50%;
    margin: 7px;
    font-size: 18px;
    color: graytext;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 7px;
    clear: both;
      margin-left: auto ;
  margin-right: auto ;
}
#cke_id_content, textarea{
    width:50%;
      margin-left: auto ;
  margin-right: auto ;
}
label{
    clear:both;
    display: block;
      margin-left: auto ;
  margin-right: auto ;
}
button{
    padding: 7px;
    margin: 7px 50px;
    float: right;
}

.btn{
    font-size: 18px;
    padding: 12px;
    clear: both;
}

.btn-info{
       min-width: 110px;
    max-height: 30px;
    padding: 10px;
}

fieldset{
    border: none;
}

/* General */
h1,h4{
    text-align: center;
}

iframe{
    border: 2px solid #d3d3d3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

footer#footer{
    border-width: 1px;
    border-top-style: inset;
}

.no-bullets li{
    list-style: none;
    margin: 7px;
}
.no-bullets li a{
    text-align: center;
    margin: 3px auto;
}

/* Header */
#header {
    z-index: 1000;
}

#header-enter{

    width:230px;
    margin: 0 14px;
}
#header-enter li{
    padding: 3px 7px;
    text-align: center;
    margin: 0px auto;
    float: left;
    list-style: none;
}

.slogan{
    margin-top: 100px;
}



.sub_heading{
    color: #FFF;
    font-size: 21px;
}

@media only screen and (max-width: 480px) {
/* define mobile specific styles come here */
#footer-content{
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;

    -moz-column-gap:40px; /* Firefox */
    -webkit-column-gap:40px; /* Safari and Chrome */
    column-gap:40px;

    -moz-column-rule:1px outset #fff; /* Firefox */
    -webkit-column-rule:1px outset #fff; /* Safari and Chrome */
    column-rule:1px outset #fff;
    max-width: 320px;
}
    #header-enter{
    text-align: center;
    margin: 2px auto;
    float: left;
    list-style: none;
    opacity: 0.7;
    background-color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

}

.section{
    padding-top: 12px;
}

div div .info-button{
    padding: 3px 7px;
    color: #FFF;
}

.flexslider ul li a{
    text-decoration: none;
}