a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
@font-face {
    font-family: 'Lobster1';
    src: url('/public/fonts/Lobster_1.1_-webfont.eot');
    src: local('☺'), url('/public/fonts/Lobster_1.1_-webfont.woff') format('woff'), url('/public/fonts/Lobster_1.1_-webfont.ttf') format('truetype'), url('/public/fonts/fonts/Lobster_1.1_-webfont.svg#webfont30G9S4nm') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face {
    font-family: 'RalewayThin';
    src: url('/public/fonts/raleway_thin-webfont.eot');
    src: local('☺'), url('/public/fonts/raleway_thin-webfont.woff') format('woff'), url('/public/fonts/raleway_thin-webfont.ttf') format('truetype'), url('/public/fonts/raleway_thin-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal; }

#section_preview{
    width: 100%;
    clear:both;
}
#section_preview_image_small{
    width: 130px;
    max-height: 90px;
    float: left;
    clear:none;
    margin-bottom: 7px;
}
#section_preview_image_small img{
    border-style:solid;
    border-color: gray;
    border-width:thin 1px;
    max-width: 120px;
    max-height: 90px;
    margin:1px 0px;
    float: left;
    clear:none;
}

#section_preview_content_small{
    float: left;
    max-width: 80%;
    clear:none;
}

#section_preview_image_large{
    max-width: 180px;
    max-height: 120px;
    float: left;
    clear:none;
    margin: 0px 12px 12px 12px;
}
#section_preview_image_large img{
    border-style:solid;
    border-color: gray;
    border-width:thin 1px;
    width: 180px;
    height: 120px;
    float: left;
    clear:none; 
}

#section_preview_content_large{
    float: left;
    max-width: 70%;
    clear:none;
}

hr#section_hr{
    border-bottom-style: solid;
    border-bottom-width:thin;
    border-color:gray;
    width: 100%;
    clear:both;
}
#my_non_profit_add{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
