{% extends template_page %}

{% block title %}Contact{% endblock %}{% block js %}

{% endblock %}
{% block content %}
{% if error_message %}
<div data-alert class="alert-box">
    {{ error_message }}
</div>
{% endif %}
<div id = "static_content">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="#">Contact</a></li>
    </ul>
    <h1>Contact</h1>

    <form id="contact_form" name="contact_form" action="/contact/" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        </br >
        <input type="submit" value="Contact" class="button" />
    </form>

    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="#">Contact</a></li>
    </ul>
</div>
{% endblock %}