{% extends template_page %}
{% block title %}Contact{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}javascript/validator/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascript/signup.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>


{% endblock %}
{% block content %}
{% if error_message %}
<div data-alert class="alert-box">
    {{ error_message }}
</div>
{% endif %}
<div id = "static_content">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="#">Contact</a></li>
    </ul>
    <h1>Contact</h1>

    <form id="contact_form" name="contact_form" action="/contact/" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        </br >

        <div id="captcha" name="captcha" class="g-recaptcha" data-sitekey="6LdhIwMTAAAAALOXVuFBhvUSMrk_J9wM6daQe6Kv"></div>

        <br />
        <input type="submit" value="Contact" class="button" />
    </form>

    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current"><a href="#">Contact</a></li>
    </ul>
</div>
{% endblock %}