{% extends "template/template.html" %}

{% block title %}Forgot Password{% endblock %}
{% block js %}

{% endblock %}
{% block content %}

<div id="static_content">
	<h1>Welcome</h1>
    {% if is_admin %}
        <ul>
            <li><a href="/languages/">Languages</a></li>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/pages/">Pages</a></li>
            <li><a href="/records/">Records</a></li>
            <li><a href="/users/">Users</a></li>
            <li><a href="/spreadsheets/">Spreadsheets</a></li>
            <li><a href="/images/">Images</a></li>
        </ul>
    {% endif %}


</div>
{% endblock %}