{% load record-tags %}
<!DOCTYPE html lang="en-US">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ 'WEBSITE_NAME'|get_record:request_language}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}">
    <meta name="author" content="Powered by InterPegasus CMS - {% now "Y" %}">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    <link rel='stylesheet' id='reset-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/reset.css' type='text/css' media='all' />
    <link rel='stylesheet' id='superfish-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/superfish.css' type='text/css' media='all' />
    <link rel='stylesheet' id='fontawsome-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/font-awsome/css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='orbit-css-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/orbit.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='color-scheme-css'  href='{{ STATIC_URL }}template/www.nrwl.org/css/color/green.css' type='text/css' media='all' />
    <link rel="stylesheet" href="{{ STATIC_URL }}template/www.nrwl.org/css/zerogrid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}template/www.nrwl.org/css/responsive.css" type="text/css" media="screen">
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/jquery.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/jquery.carouFredSel-6.2.1-packed.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/hoverIntent.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/superfish.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}template/www.nrwl.org/js/orbit.min.js'></script>
    <script src="{{ STATIC_URL }}template/www.nrwl.org/js/css3-mediaqueries.js"></script>

    <script type="text/javascript" language="javascript">
        $(function() {

            /* Start Carousel */
            $('#featured-posts').carouFredSel({
                auto: true,
                prev: '#prev2',
                next: '#next2',
            });
            /* End Carousel */

            $('#featured-posts-wwf').carouFredSel({
                auto: false,
                prev: '#prev3',
                next: '#next3',
            });
            /* End Carousel */


        });
    </script>
    {% block js %}{% endblock %}
</head>

<body class="home blog">
{% include "layout/admin.html" %}
{% include "layout/add_this.html" %}
{% include "layout/microdata.html" %}
<!-- Start Header -->
<div class="container zerogrid">
    <div class="col-full"><div class="wrap-col">
        <div id="header-nav-container">

            <a href="/" style="color:white;font-size: 31px;">
                NRWL
            </a>
            <!-- Navigation Menu -->

            <ul class="sf-menu"><li class="menu-item current-menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/index.html">Home</a></li>
                <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/blog.html">Animals</a></li>
                <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/#">Plants</a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/#">Menu 01</a></li>
                        <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/#">Menu 02</a></li>
                        <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/#">Menu 03</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="{{ STATIC_URL }}template/www.nrwl.org/about.html">News</a></li>
            </ul>
            <!-- End Navigation Menu -->

            <div class="clear"></div>

        </div>
    </div>
    </div>
    <div class="clear"></div>
</div>
<div class="spacing-30"></div>
<!-- End Header -->
<!-- Start Main Container -->
<div class="container zerogrid">
    <!-- Start Featured Carousel -->
    <div class="container zerogrid">
        <div class="list_carousel">
            <ul id="featured-posts">
                {% for item in feed_pages.GREENPEACE %}               
                    {% if forloop.counter|divisibleby:"3" %}
                    <li class="last carousel-item" style="height: 405px;">
                    {% else %}
                    <li class="first carousel-item" style="height: 405px;">
                    {% endif%}
                    <div class="post-margin">
                        <h6 style="height: 30px;clear:both;margin-bottom: 30px;"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h6>
                        <span style="clear: both;"><i class="fa fa-clock-o"></i>{{item.created_at}}</span>
                    </div>
                    
                    <div class="featured-image">
                        <a href="/{{request_language}}/feed/{{item.slug}}"><img width="290" height="130" src="{{item.image_url}}"  style="max-width: 290px;max-height: 130px" /></a>
                        <div class="post-icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
                    <div class="post-margin" style="height: 100px;">
                        <p>{{item.content_no_html|truncate_str:96}}</p>
                    </div>
                    <div><img src="{{feed_pages.GREENPEACE.0.feed_image_url}}" style="width:70px;float: right;clear:none;"/></div>
                    </li>
                {% endfor %}

            </ul>

            <div class="clear"></div>

            <div class="carousel-controls">
                <a id="prev2" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                <a id="next2" class="next" href="#"><i class="fa fa-angle-right"></i></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Start Posts Container -->
    <div class="col-2-3" id="post-container">
        <div class="wrap-col">

            <!-- Start Post Item -->
            <div class="post">
                <div class="post-margin">

                    <div class="post-avatar">
                        <div class="avatar-frame"></div>
                    </div>

                    <h4 class="post-title"><a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}">{{feed_pages.GREENPEACE.0.title}}</a></h4>
                    <ul class="post-status">
                        <li><i class="fa fa-clock-o"></i>{{feed_pages.GREENPEACE.0.created_at}}</li>
                        <li><i class="fa fa-folder-open-o"></i><a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}" title="{{feed_pages.GREENPEACE.0.title}}" rel="category">Read More</a></li>
                        <li><img src="{{feed_pages.GREENPEACE.0.feed_image_url}}" style="width:70px;float: right;clear:none"/></li>
                    </ul>
                    <div class="clear"></div>
                </div>

                <div class="featured-image">
                    <img src="{{feed_pages.GREENPEACE.0.image_url}}" class="attachment-post-standard "  />
                    <div class="post-icon">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    </div>
                </div>

                <div class="post-margin">
                    <p>{{feed_pages.GREENPEACE.0.content_no_html| safe | truncate_str:512}}</p>
                    <img src="{{feed_pages.GREENPEACE.0.feed_image_url}}" style="width:70px;float: right;clear:none"/>
                </div>

                <br />
                <ul class="post-social">
                    <li>
                        <a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}" class="readmore">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <!-- End Post Item -->
            <div class="clear"></div>
        </div>
        <!-- Start Featured Carousel -->
    </div>
    <!-- End Posts Container -->

    <!-- Start Sidebar -->
    <div class="col-1-3">
        <div class="wrap-col">
            <div class="widget-container"><h6 class="widget-title">Latest Posts</h6>	<!-- Start Widget -->
                <ul class="widget-recent-posts">
                    {% for item in feed_pages.PETA %}
                        <li style="clear: both;">
                            <div class="post-image">
                                <div class="post-mask"></div>
                                <img width="70" height="70" src="{{item.image_url}}" class="attachment-post-widget #"  />
                            </div>
                            <h6><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h6>
                            <br />
                            <span style="float: right;">{{item.created_at}}</span>
                            <div class="clear"></div>
                        </li>
                    {% endfor %}
                </ul>
                <!-- End Widget -->
                <div class="clear"></div></div>    <div class="clear"></div>
        </div>
    </div>
    <!-- End Sidebar -->


    <div class="clear"></div>

    <div class="container zerogrid">
        <div class="list_carousel">
            <ul id="featured-posts-wwf">
                {% for item in feed_pages.WWF %}
                    {% if forloop.counter|divisibleby:"3" %}
                    <li class="last carousel-item" style="height: 320px;">
                    {% else %}
                    <li class="first carousel-item" style="height: 320px;">
                    {% endif%}
                    <div class="post-margin">
                        <h6 style="height: 30px;clear:both;margin-bottom: 30px;"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h6>
                        <span style="clear: both;"><i class="fa fa-clock-o"></i>{{item.created_at}}</span>
                    </div>

                    <div class="featured-image" style="text-align: center;align-items: center;padding: 0;margin: 0; max-height: 70px;">
                        <a href="/{{request_language}}/feed/{{item.slug}}"><img height="130" src="{{item.feed_image_url}}"  style="padding-bottom:5px;padding-top: 5px;max-height: 50px;text-align: center;" /></a>
                        <div class="post-icon">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
                    <div class="post-margin" style="height: 80px;padding: 5px;margin: 5px;">
                        <p>{{item.content_no_html|truncate_str:96}}</p>
                    </div>
                    <div style="text-align: right;padding: 5px;"><a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}" class="readmore">Read More <i class="fa fa-arrow-circle-o-right"></i></a></div>

                    </li>

                {% endfor %}

            </ul>

            <div class="clear"></div>

            <div class="carousel-controls">
                <a id="prev3" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                <a id="next3" class="next" href="#"><i class="fa fa-angle-right"></i></a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {% if is_logged_in %}
    {% else %}
    <div class="section" id="enter" >
        <div class="container">
            {% include "layout/login_form.html" %}
        </div>
    </div>
    <div class="clear"></div>
    {% endif %}
    <div class="section section-alt" id="contact" >
        <div class="container">
            {% include "layout/contact_form_2.html" %}
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- End Main Container -->


<!-- Start Footer -->
<div class="spacing-30"></div>
<div class="container zerogrid">
    <div id="footer-container" class="col-full">
        {% include "layout/footer.html" %}
        {% include "layout/analytics.html" %}
    </div>
</div>
<!-- End Footer -->


</body>

</html>