{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include "layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick-theme.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick/slick/slick.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}template/www.nrwl.org/css/app.css"/>
    <script src="{{ STATIC_URL }}template/www.nrwl.org/js/app.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
{% include "layout/microdata.html" %}
<div class="fixed">
    <nav class="top-bar" data-topbar="" role="navigation" data-options="is_hover: false">
        <!-- Title -->
        <ul class="title-area">
            <li class="name">
                <h2><a href="/en" data-tooltip aria-haspopup="true" title="nrwl.org">Natural Resources & Wildlife Organization</a></h2>
            </li>
            <!-- Mobile Menu Toggle -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- Top Bar Section -->
        <section class="top-bar-section">
            <!-- Top Bar Right Nav Elements -->
            <ul class="right">
                <!-- Divider -->
                <li class="divider"></li>
                <!-- Dropdown -->
                <li class="has-dropdown not-click hide-for-medium"><a href="#">Species</a>
                    <ul class="dropdown">
                        <li><label>Endangered Species</label></li>
                        {% for page in endangered_species|slice:":5" %}
                        {% if request_language == 'en' %}
                        <li><a href="/{{request_language}}/{{page.slug}}/">{{page.headline|detruncate|safe}}</a></li>
                        {% else %}
                        <li><a href="/{{request_language}}/{{page.slug}}/">{{page.title|safe}}</a></li>
                        {% endif%}
                        {% endfor %}
                        <li><a href="javascript:scroll_to_anchor('footer')">...</a></li>
                        <li class="divider"></li>
                        <li><label>Keystone Species</label></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li>
                    <div id="social">
                        {% include "layout/social_login_3.html" %}
                    </div>
                </li>
                {% if is_admin %}
                <li>
                    <a class=" has-tip [radius round] left-off-canvas-toggle fi-widget size-32" href="#" data-tooltip aria-haspopup="true" title="Admin Section"><span></span></a>
                </li>
                <li>
                    <a class=" has-tip [radius round] right-off-canvas-toggle fi-key size-32" href="#" data-tooltip aria-haspopup="true" title="Menu"><span></span></a>
                </li>
                {% endif %}
                <li class="divider"></li>
            </ul>
        </section>
    </nav>
</div>
<div class="off-canvas-wrap" data-offcanvas class="fixed">
    <div class="inner-wrap">

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>
        <aside class="right-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>
        <hr />

        <div class="row">
            <div class="large-12 columns">
                <div class="slide-height">
                    <div class="row slide-me">
                        {% for item in feed_pages.GREENPEACE %}
                        <div class="panel callout">
                            <a href="/{{request_language}}/feed/{{item.slug}}" class="panel_image_container_small show-for-small-only">
                                <img alt="{{item.title|safe}}" src="{{item.image_url}}" />
                            </a>
                            <a href="/{{request_language}}/feed/{{item.slug}}" class="panel_image_container show-for-medium-up">
                                <img alt="{{item.title|safe}}" src="{{item.image_url}}" />
                            </a>
                            <h4 class="panel_date"><small>{{item.created_at}}</small></h4>
                            <h4 class="panel_title"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h4>
                            <p class="panel_content">{{item.content_no_html|truncate_str:96|safe}}</p>
                            <img class="greenpeace_logo" src="{{feed_pages.GREENPEACE.0.feed_image_url}}"/>
                        </div>
                        {% endfor %}
                    </div>
                    &nbsp;
                </div>

                <hr/>

                <div class="row">
                    <div class="large-8 columns">
                        <a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}"><h2>{{feed_pages.GREENPEACE.0.title}}</h2></a>
                        <div class="main_image_container"><a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}"><img src="{{feed_pages.GREENPEACE.0.image_url}}" /></a></div>
                        <p>{{feed_pages.GREENPEACE.0.content_no_html | truncate_str:512 | safe}}</p>
                        <a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}" class="button">Read More</a>
                    </div>
                    <div class="large-4 columns">
                        <h3>PETA</h3><hr />
                        {% for item in feed_pages.PETA %}
                            <div class="row clearfix"  data-equalizer>
                                <div class="left peta_div">
                                    <a href="/{{request_language}}/feed/{{item.slug}}"><img class="rounded_image" src="{{item.image_url}}"   /></a>
                                </div>
                                <div class="left peta_div">
                                    <h3><small>{{item.created_at}}</small></h3>
                                    <h3><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h3>
                                </div>
                            </div>
                            <hr />
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <div class="row slide-me-wwf">
                            {% for item in feed_pages.WWF %}
                            <div class="panel callout wwf">
                                <h4 class="panel_title"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h4>
                                <h4 class="panel_date"><small>{{item.created_at}}</small></h4>
                                <a href="/{{request_language}}/feed/{{item.slug}}"><img class="wwf_logo" src="{{feed_pages.WWF.0.feed_image_url}}"/></a>
                                <p class="panel_content">{{item.content_no_html|truncate_str:180|safe}}</p>
                                <a class="button tiny hide" href="/{{request_language}}/feed/{{item.slug}}">Read More</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row" id="footer">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-4 columns">
                        <span data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="This site is hosted at Google App Engine and Is powered by InterPegasus CMS">NRWL {% now "Y" %} | <a href="/sitemap">Sitemap</a> | <a href="/api_documentaion/">API</a></span>
                    </div>

                    <div class="large-4 columns">
                        <ul class="inline-list right">
                            <li><label>Endangered Species</label></li>
                            <br />
                            {% for page in endangered_species %}
                            {% if request_language == 'en' %}
                            <li><a href="/{{request_language}}/{{page.slug}}/">{{page.headline|detruncate|safe}} ({{page.title|safe}})</a></li>
                            {% else %}
                            <li><a href="/{{request_language}}/{{page.slug}}/">{{page.title|safe}}</a></li>
                            {% endif%}
                            <br />
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="large-4 columns">
                        <ul class="inline-list right">
                            <li><label>Keystone Species</label></li>
                            <br />
                            <li>...</li>
                        </ul>
                    </div>

                </div>
            </div>

        </footer>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>