{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include "layout/head.html" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick/slick-theme.css"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slick/slick/slick.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}template/www.nrwl.org/css/app.css"/>
    <script src="{{ STATIC_URL }}template/www.nrwl.org/js/app.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
{% include "layout/microdata.html" %}
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <nav class="top-bar" data-topbar="" role="navigation">
            <!-- Title -->
            <ul class="title-area">
                <li class="name">
                    <h2><a href="/en" data-tooltip aria-haspopup="true" title="nrwl.org">Natural Resources & Wildlife Organization</a></h2>
                </li>
                <!-- Mobile Menu Toggle -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <!-- Top Bar Section -->
            <section class="top-bar-section">
                <!-- Top Bar Right Nav Elements -->
                <ul class="right">
                    <!-- Divider -->
                    <li class="divider"></li>
                    <!-- Dropdown -->
                    <li class="has-dropdown not-click"><a href="#">Species</a>
                        <ul class="dropdown">
                            {% for page in endangered_species %}
                                <li><a href="/{{request_language}}/{{page.title|slugify}}/">{{page.title|safe}}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li>
                        <div id="social">
                            {% include "layout/social_login_3.html" %}
                        </div>
                    </li>
                    {% if is_admin %}
                    <li>
                        <a class=" has-tip [radius round] left-off-canvas-toggle fi-widget size-32" href="#" data-tooltip aria-haspopup="true" title="Admin Section"><span></span></a>
                    </li>
                    <li>
                        <a class=" has-tip [radius round] right-off-canvas-toggle fi-key size-32" href="#" data-tooltip aria-haspopup="true" title="Menu"><span></span></a>
                    </li>
                    {% endif %}
                    <li class="divider"></li>
                </ul>
            </section>
        </nav>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>
        <aside class="right-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>
        <hr />

        <div class="row">
            <div class="large-12 columns">
                <div class="slide-height">
                    <div class="row slide-me">
                        {% for item in feed_pages.GREENPEACE %}
                        <div class="panel callout">
                            <a href="/{{request_language}}/feed/{{item.slug}}" class="panel_image_container"><img alt="{{item.title|safe}}" src="{{item.image_url}}" /></a>
                            <h4 class="panel_date"><small>{{item.created_at}}</small></h4>
                            <h4 class="panel_title"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h4>
                            <p class="panel_content">{{item.content_no_html|truncate_str:96|safe}}</p>
                            <img class="greenpeace_logo" src="{{feed_pages.GREENPEACE.0.feed_image_url}}"/>
                        </div>
                        {% endfor %}
                    </div>
                    &nbsp;
                </div>

                <hr/>

                <div class="row">
                    <div class="large-8 columns">
                        <h2>{{feed_pages.GREENPEACE.0.title}}</h2>
                        <div class="main_image_container"><img src="{{feed_pages.GREENPEACE.0.image_url}}" /></div>
                        <p>{{feed_pages.GREENPEACE.0.content_no_html | truncate_str:512 | safe}}</p>
                        <a href="/{{request_language}}/feed/{{feed_pages.GREENPEACE.0.slug}}" class="button">Read More</a>
                    </div>
                    <div class="large-4 columns">
                        {% for item in feed_pages.PETA %}
                        <panel>
                            <h4 class="panel_date"><small>{{item.created_at}}</small></h4>
                            <img class="rouded_image" src="{{item.image_url}}"   />
                            <h6><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h6>
                        </panel>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="large-12 columns">
                        <div class="row slide-me-wwf">
                            {% for item in feed_pages.WWF %}
                            <div class="panel callout">
                                <h4 class="panel_title"><a href="/{{request_language}}/feed/{{item.slug}}">{{item.title|truncate_str:32}}</a></h4>
                                <h4 class="panel_date"><small>{{item.created_at}}</small></h4>
                                <img class="wwf_logo" src="{{feed_pages.WWF.0.feed_image_url}}"/>
                                <p class="panel_content">{{item.content_no_html|truncate_str:180|safe}}</p>
                                <a class="button tiny" href="/{{request_language}}/feed/{{item.slug}}">Read More</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-3 columns">
                        <span data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="This site is hosted at Google App Engine and Is powered by InterPegasus CMS">NRWL {% now "Y" %}</span>
                    </div>
                    <div class="large-9 columns">
                        <ul class="inline-list right">
                            {% for page in endangered_species %}
                                <li><a href="/{{request_language}}/{{page.title|slugify}}/">{{page.headline|safe}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>