.panel-top{
    padding: 0;
    background-color: #FFF;
    background-image: url("http://web.uvic.ca/~agomez/Images/arturo.jpg");
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    height: 121px;
}

.row-top{
    margin: 0;
    width: 100%;
    height: 121px;
    padding: 0;
}

hr{
    margin-top: 0px;
    padding-top: 0px;
}