{% load record-tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ 'WEBSITE_NAME'|get_record:request_language}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}">
    <meta name="author" content="Powered by InterPegasus CMS - {% now "Y" %}">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Import CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}template/www.magicangel.org/css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/jquery.min.js"></script>
    <script src = "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/jquery.easing.min.js"></script>
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/jquery.scrollto.min.js"></script>
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/slabtext.min.js"></script>
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/jquery.nav.js"></script>
    <script src="{{ STATIC_URL }}template/www.magicangel.org/js/main.js"></script>
    {% block js %}{% endblock %}
</head>
<!-- To change color change the class "color-2" to "ccolor-2, color-3 ... color-6" -->
<body class="home color-2">
{% include "layout/admin.html" %}
{% include "layout/add_this.html" %}
{% include "layout/microdata.html" %}
<div id="header">
    <div class="container">
        <div class="row">
            <i id="nav-button" class="icon-circle-arrow-down"></i>
            <h2 id="logo"><a href="/{{request_language}}">Magic Angel <span class="highlight">Foundation</span></a></h2>
            <div id="header-enter">
                {% if is_logged_in %}
                <ul>
                    <li>Welcome {{request.user.first_name}}</li>
                    <li>|</li>
                    <li><a id = "header_login" href = "/exit">Log out</a></li>
                </ul>
                {% endif %}
            </div>
            <div id = "top-nav" class = "">
                <ul id = "fixed-nav">
                    <li class = "current"><a href = "#home">{{'Home'|translate:request_language}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->
<!-- Big Full screen Banner -->
<div class="hero bg-fixed" id="home">
    <div class="slogan">
        <div class = "center">
            <div>{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>
<footer id="footer">
    <div class="container">
        {% include "layout/footer.html" %}
        {% include "layout/analytics.html" %}
    </div>
</footer>
</body>
</html>