{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include "layout/head.html" %}
    {% block js %}
    <script type="text/javascript">
    var image_array = [];
        {% for image in image_list %}
            var image = {};
            image["url"] = '{{ image.picasa_photo_url }}';
            image["title"] = '{{ image.name }}';
            image["description"] = '{{ image.description }}';
            image["slug"] = '{{ image.slug }}';
            image["share_url"] = '{{ image.picasa_photo_url }}';
            image_array.push(image);
        {% endfor %}
    </script>
    {% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/arturo/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/arturo/js/app.js"></script>
    <script src="{{ STATIC_URL }}js/exif/exif.js"></script>
</head>
<body>
{% include "layout/microdata.html" %}
<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Arturo's Homepage</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                {% include "layout/social_login_3.html" %}
                <li class="has-dropdown">
                    <a href="#">Gallery</a>
                    <ul class="dropdown">
                        {% for gallery in gallery_list %}
                            <li><a href="/{{request_language}}/g/{{gallery.slug}}">{{gallery.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if is_admin %}
                    {% include "layout/admin_dropdown.html" %}
                {% endif %}
            </ul>
        </section>
    </nav>
</div>
<div class="row">
    <div class="add_this_tool">
        {% include "layout/add_this_4.html" %}
    </div>
    <div class="image_contain_cover">
        <a id="image_info" href="#" onclick="image_info_toggle();"><span class="fi-info size-18">&nbsp;</span></a>
        <a id="arrows_in" href="#" onclick="image_contain_cover('IN');"><span class="fi-arrows-in size-12">&nbsp;</span></a>
        <a id="arrows_out" href="#" onclick="image_contain_cover('OUT');"><span class="fi-arrows-out size-12">&nbsp;</span></a>
    </div>
    <div class="image_info_div">

    </div>
    <div class="ag-gallery" style="background: black no-repeat center center url('/static/foundation/arturo/images/loading.gif')">
        {% for image in image_list %}
        <div class="fullscreen-mode" style="background:black no-repeat center center url('{{ image.picasa_photo_url }}')" title="{{ image.name }}" alt="{{ image.description }}"></div>
        {% endfor %}
    </div>
    <div>
        <div id="ag-nav-controls" class="ag-nav-controls">
            <a href="#" onclick="nav_toggle();"><span class="fi-camera size-12">&nbsp;</span></a>
        </div>
        <div id="ag-nav" class="ag-nav">
            {% for image in image_list %}
            <div class="thumbnail-mode" style="background: url('{{ image.picasa_thumb_url }}')" title="{{ image.name }}" alt="{{ image.description }}"></div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>