{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include "layout/head.html" %}
    {% block js %}{% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}foundation/arturo/css/app.css"/>
    <script src="{{ STATIC_URL }}foundation/arturo/js/app.js"></script>
</head>
<body>
{% include "layout/microdata.html" %}
<div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Arturo's Homepage</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">Right Button Dropdown</a>
                    <ul class="dropdown">
                        <li><a href="#">First link in dropdown</a></li>
                        <li class="active"><a href="#">Active link in dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>
<div class="row">
    <div id="ag-gallery" name="ag-gallery" class="large-12 columns">
        {% for image in image_list %}
        <div class="fullscreen-mode" style="background: url('{{ image.picasa_photo_url }}')" title="{{ image.name }}" alt="{{ image.description }}"></div>
        {% endfor %}
    </div>
    <div id="ag-gallery-nav" name="ag-gallery-nav" class="large-12 columns">
        {% for image in image_list %}
        <div class="thumbnail-mode" style="background: url('{{ image.picasa_thumb_url }}')" title="{{ image.name }}" alt="{{ image.description }}"></div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>