{% load record-tags %}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ 'WEBSITE_NAME'|get_record:request_language}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ 'WEBSITE_DESCRIPTION'|get_record:request_language}}" />
    <meta name="author" content="Powered by InterPegasus CMS - {% now "Y" %}">
    <link rel="stylesheet" href="{{ STATIC_URL }}template/arturo.interpegasus.com/style.css" type="text/css" media="screen"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}template/arturo.interpegasus.com/scripts/pop-ups.js"></script>
</head>
<body>
{% include "layout/admin.html" %}
{% include "layout/microdata.html" %}
<header>
    <h1>Arturo's Homepage</h1>
    <h4>Photographs by <a href="http://arturo.interpegasus.com" target="_blank">Arturo Gomez M</a></h4>
    <div id="social">
        {% include "layout/social_login_2.html" %}
    </div>
</header>
<nav>
    <ul id="menu" class="menu">
        <li> <a href="#" id="projects"> <img src="{{ STATIC_URL }}template/arturo.interpegasus.com/images/Arashiyama-Monkey-Park/Thumb/5.JPG" alt=""/> <span class="active"></span> <span class="wrap"> <span class="link">Gallery</span> <span class="descr">Menu</span> </span> </a> </li>
    </ul>
</nav>
<section id="bg">
    <section id="overlay"></section>
    <a href="#" class="nextImageBtn" title="next"></a><a href="#" class="prevImageBtn" title="previous"></a><img src="{{ image_list.0.picasa_photo_url }}" alt="{{ image_list.0.name }}" title="{{ image_list.0.name }}" id="bgimg" /></section>
<div id="preloader"><img src="{{ STATIC_URL }}template/arturo.interpegasus.com/images/ajax-loader_dark.gif" width="32" height="32" alt="" /></div>
<div id="img_title">

</div>
<div id="img_description" style="display:none;">

</div>
<div id="img_title_2">
    {% include "layout/add_this_3.html" %}
</div>

<div id="toolbar"><a href="#" title="Maximize" onClick="ImageViewMode('full');return false"><img src="{{ STATIC_URL }}template/arturo.interpegasus.com/images/toolbar_fs_icon.png" width="50" height="50" alt="" /></a></div>
<div id="thumbnails_wrapper">
    <div id="outer_container">
        <div class="thumbScroller">
            <div class="container" id="image_gallery_container">
                {% for image in image_list %}
                    <div class="content">
                        <div><a href="{{ image.picasa_photo_url }}"><img src="{{ image.picasa_thumb_url }}" title="{{ image.name }}" alt="{{ image.description }}" class="thumb" /></a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<article id="popupProjects" class="popupProjects">
    <div class="customScrollBox">
        <div class="container">
            <div class="content" id="project_content" style="display: none;">
                <a id="popupProjectsClose"><img src="{{ STATIC_URL }}template/arturo.interpegasus.com/images/cross.png" width="20" alt="" /></a>

                <h1>Galleries</h1>
                <ul id="gallery_index">
                </ul>
                <div class="border"></div>
                <h1>Pages</h1>
                <ul id="page_index">
                </ul>

            </div>
            <div id="ajax_project_content">
                <img src="{{ STATIC_URL }}template/arturo.interpegasus.com/images/ajax-loader_dark.gif" />
            </div>
        </div>
        <div class="dragger_container">
            <div class="dragger"></div>
        </div>
        <a class="scrollUpBtn" href="#"></a> <a class="scrollDownBtn" href="#"></a> </div>
</article>
<script type="text/javascript" src="{{ STATIC_URL }}template/arturo.interpegasus.com/scripts/gallery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}template/arturo.interpegasus.com/scripts/ag.js"></script>
</body>
</html>