{% load record-tags %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>InterPegasus - Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
    <link href="{{ STATIC_URL }}template/www.interpegasus.com/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}template/www.interpegasus.com/css/style.css" rel="stylesheet">
    <link rel='stylesheet' id='prettyphoto-css' href="{{ STATIC_URL }}template/www.interpegasus.com/css/prettyPhoto.css"
          type='text/css' media='all'>
    <link href="{{ STATIC_URL }}template/www.interpegasus.com/css/fontello.css" type="text/css" rel="stylesheet">
    <!--[if lt IE 7]>
    <link href="{{ STATIC_URL }}template/www.interpegasus.com/css/fontello-ie7.css" type="text/css" rel="stylesheet">
    <![endif]--><!-- Google Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}template/www.interpegasus.com/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]--><!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- JQuery -->
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
    <script type="text/javascript" src="{{ STATIC_URL }}template/www.interpegasus.com/js/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- Load ScrollTo -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}template/www.interpegasus.com/js/jquery.scrollTo-1.4.2-min.js"></script>
    <!-- Load LocalScroll -->
    <script type="text/javascript"
            src="{{ STATIC_URL }}template/www.interpegasus.com/js/jquery.localscroll-1.2.7-min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}javascript/flex/flexslider.css" media="all"/>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/flex/jquery.flexslider-min.js"></script>
</head>
<body>
{% include "layout/admin.html" %}
{% include "layout/add_this.html" %}
{% include "layout/microdata.html" %}
<!--******************** NAVBAR ********************-->
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                <div id="top-social-container">
                    <div id="add-this">
                        {% include "layout/add_this.html" %}
                    </div>
                    <div id="social">
                        {% include "layout/social_login.html" %}
                    </div>
                </div>
                <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="nome" href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
    </div>
    <!-- /.navbar -->
</div>
<!-- /.navbar-wrapper -->
<div id="top"></div>
<!-- ******************** HeaderWrap ********************-->
<div id="headerwrap">
    <header class="clearfix">
        <div>{% block content %}{% endblock %}</div>
    </header>
</div>
<div class="footer-wrapper">
    <footer id="footer">
        <div class="container">
            {% include "layout/footer.html" %}
            {% include "layout/analytics.html" %}
        </div>
    </footer>
</div>
<!-- Loading the javaScript at the end of the page -->
<script type="text/javascript" src="{{ STATIC_URL }}template/www.interpegasus.com/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}template/www.interpegasus.com/js/site.js"></script>
</body>
</html>
