{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    {% include "layout/head.html" %}
    {% block js %}{% endblock %}
</head>
<body>
{% include "layout/microdata.html" %}
<div class="fixed">
    <nav class="top-bar" data-topbar="" role="navigation" data-options="is_hover: false">
        <!-- Title -->
        <ul class="title-area">
            <li class="name">
                <h1><a href="/en" data-tooltip aria-haspopup="true" title="interpegasus.com">
                    <img src="/static/foundation/interpegasus_custom_assets/images/pegasus.png" style="height: 48px;" />
                    InterPegasus
                </a></h1>
            </li>
            <!-- Mobile Menu Toggle -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <!-- Top Bar Section -->
        <section class="top-bar-section">
            <!-- Top Bar Right Nav Elements -->
            <ul class="right">
                <!-- Divider -->
                <li class="divider"></li>
                {% for item in categories %}
                    <li><a title="{{ item.name }}" href="javascript:void(0);" onclick="javascript:scroll_to_anchor('{{ item.slug }}',75)">{{ item.name }}</a></li>
                {% endfor %}
                <li class="divider"></li>
                {% include "layout/social_login_3.html" %}
                {% if is_admin %}
                    <li>
                        <a class=" has-tip [radius round] left-off-canvas-toggle fi-widget size-32" href="#" data-tooltip aria-haspopup="true" title="Admin Section"><span></span></a>
                    </li>
                    <li>
                        <a class=" has-tip [radius round] right-off-canvas-toggle fi-key size-32" href="#" data-tooltip aria-haspopup="true" title="Menu"><span></span></a>
                    </li>
                {% endif %}
                <li class="divider"></li>
            </ul>
        </section>
    </nav>
</div>
<div class="off-canvas-wrap" data-offcanvas class="fixed">
    <div class="inner-wrap">
        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>
        <aside class="right-off-canvas-menu">
            {% include "layout/admin.html" %}
        </aside>

        <div class="row">
            <div class="large-12 columns">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="row" id="footer">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-4 columns">
                        <span data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="This site is hosted at Google App Engine and Is powered by InterPegasus CMS">InterPegasus {% now "Y" %}</span> | <a href="/sitemap">Sitemap</a> | <a href="/api_documentaion/">API</a>
                    </div>
                    <div class="large-8 columns">
                        {% for item in categories %}
                            <h5>{{ item.name }}</h5>
                            {% for object in item.page_array %}
                                <ul>
                                    <li class="no-deco"><a href="/{{ request_language }}/{{ object.slug }}">{{ object.title }}</a></li>
                                </ul>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </footer>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
    </div>
</div>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>




