<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Arturo's Portfolio</title>
    <meta name="description" content="Arturo's Portfolio">
    <meta name="author" content="Arturo">
    <style type="text/css">
        body, html
        {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
        }

        #content
        {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
        }
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
<div id="content">
    <iframe src="http://portfolio.interpegasus.com" ></iframe>
</div>
</body>
</html>