{% load record-tags %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ 'WEBSITE_NAME'|get_record:request_language}} - {% block title %}{% endblock %}</title>
    <meta name="description" content="Web Mobile Portfolio"/>
    <meta name="author" content="Arturo"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/icons/foundation-icons.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/foundation/css/normalize.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}template/portfolio.interpegasus.com/css/app.css"/>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}js/foundation/js/foundation.min.js"></script>
    <script type="application/javascript">
        var availableTags = [
        {% for page in page_list %}
        { label: "{{page.title | safe }}", value: "{{page.title | slugify }}" },
        {% endfor %}
        ];
    </script>
    <script src="{{ STATIC_URL }}template/portfolio.interpegasus.com/js/app.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
{% include "layout/admin.html" %}
{% include "layout/microdata.html" %}
<nav class="top-bar" data-topbar="" role="navigation">
    <!-- Title -->
    <ul class="title-area">
        <li class="name"><h1><a data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="This site is hosted at Google App Engine and Is powered by InterPegasus CMS" href="/">Arturo's Portfolio</a></h1></li>
        <!-- Mobile Menu Toggle -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <!-- Top Bar Section -->
    <section class="top-bar-section">
        <!-- Top Bar Right Nav Elements -->
        <ul class="right">
            <!-- Divider -->
            <li class="divider"></li>
            <!-- Button -->
            <li class="has-form show-for-large-up">
                <div id="social">
                    {% include "layout/social_login_3.html" %}
                </div>
            </li>
        </ul>
    </section>
</nav>
<div class="row row-top">
    <div class="panel panel-top">
        <img src="{{ STATIC_URL }}template/portfolio.interpegasus.com/images/arturo.jpg" alt="Arturo's Portfolio"/>
    </div>
</div>
<hr />



<div class="row">
    <div class="large-12 columns">
        <div class="large-9 columns">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <span data-tooltip aria-haspopup="true" class="has-tip [radius round]" title="This site is hosted at Google App Engine and Is powered by InterPegasus CMS"><p>&copy; Arturo G&oacute;mez.</p></span>

            </div>
            <div class="large-7 columns">
                <ul class="inline-list right">
                    {% for page in page_list %}
                    <li><a href="#" onclick="scroll_to_anchor_and_show_tip('{{page.title|slugify}}')">{{page.title|safe}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>