{% if is_admin %}
<div id = "menu-tab"></div>
<div id = "menu-container">
    <div id = "menu-container-top"></div>
    <div id = "menu-container-middle">
        <ul id = "menu">
            <li><a href = "/en/languages/">Languages</a></li>
            <li><a href = "/en/categories/">Categories</a></li>
            <li><a href = "/en/pages/">Pages</a></li>
            <li><a href = "/en/records/">Records</a></li>
            <li><a href = "/en/users/">Users</a></li>
            <li><a href = "/en/spreadsheets/">Spreadsheets</a></li>
            <li><a href = "/en/images/">Images</a></li>
            <li><a href = "/en/delete_cache/">Delete Cache</a></li>
        </ul>
    </div>

    <div id = "menu-container-footer"></div>
</div>
{% endif %}