<script type="text/javascript" src="{{STATIC_URL}}javascript/validator/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascript/signup.js"></script>
<div><h1>Contact Us</h1></div>
<div class = "half">
    <form id="contact_form" name="contact_form" method = "post" action = "/contact/" class = "form contact-form">
        {% csrf_token %}
        <fieldset>
            <h2>Contact Form</h2>
            <input type = "text" name = "contact_name" id = "contact-name" placeholder = "Your name ..."/>

            <input type = "text" name = "contact_email" id = "contact-email" placeholder = "Your Email ..."/>

            <textarea cols = "20" name = "contact_comment" id = "contact-comment" rows = "4" placeholder = "Your Comment ..."></textarea>

            <button class = "btn btn-inverse">
                <span>Send Message</span>
            </button>

        </fieldset>
    </form>
</div>
<div class = "half">
    <h2>How to find us</h2>

    <div id = "map">
        <div class = "imgHolder">
            <div id = "map_canvas">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=47.75167599999955,-122.37878309580663&amp;sspn=0.005503755504548312,0.015406351374705939&amp;t=m&amp;dg=opt&amp;ie=UTF8&amp;z=14&amp;ll=47.751676,-122.378773&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>